process {
  executor='pbs'
  queue='workq'
  clusterOptions = '-P berger_common'

  $generateFiles {
    module = 'SAMtools/1.3-goolf-1.4.10:Picard/1.141'
    memory = '62 GB'
  }
  $markDuplicates {
    module = 'Picard/1.141'
    memory = '64 GB'
  }
  $removeDuplicates {
    module = 'Picard/1.141'
    memory = '60 GB'
  }
  $mergeReplicates {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $mergeStats {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $subsampleMerged {
    module = 'Picard/1.141'
  }
  $callMACS2 {
    module = 'MACS/2.1.0.20150420.1-goolf-1.4.10-Python-2.7.5'
  }
  $makeMasterPeaks {
    module = 'R/3.2.3-foss-2016a'
  }
  $makeFileGff {
    module = 'R/3.2.3-foss-2016a'
  }	
  $count_reads_in_master {
    module = 'HTSeq/0.6.1-goolf-1.4.10-Python-2.7.3:pysam/0.8.2.1-goolf-1.4.10-Python-2.7.3'
  }  
  $count_reads_in_narrow {
    module = 'HTSeq/0.6.1-goolf-1.4.10-Python-2.7.3:pysam/0.8.2.1-goolf-1.4.10-Python-2.7.3'
  }
  $deseq2 {
    module = 'R/3.2.3-foss-2016a'
  }
  $bam_to_fastq1 {
    module = 'SAMtools/1.3-goolf-1.4.10:FASTX-Toolkit/0.0.13.2-goolf-1.4.10'
  }
  $bam_to_fastq2 {
    module = 'SAMtools/1.3-goolf-1.4.10:FASTX-Toolkit/0.0.13.2-goolf-1.4.10'
  }
  $cutadapt {
    module = 'cutadapt/1.9-ictce-5.3.0-Python-2.7.6'
  }
  $bowtie2 {
    module = 'Bowtie2/2.1.0-goolf-1.4.10'
     memory = '62 GB'
    time = '20h'  
}
  $sort {
    module = 'SAMtools/1.3-goolf-1.4.10:FASTX-Toolkit/0.0.13.2-goolf-1.4.10'
  }
  $qualityFilter {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $flagstat {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $samtools_multi {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $getIS {
    module = 'SAMtools/1.3-goolf-1.4.10'
  }
  $coverTable {
    module = 'SAMtools/1.3-goolf-1.4.10'
    time = '5h'
 }
  $R_barplots {
    module = 'R/3.2.3-foss-2016a'
 }
  $R_insertplots {
    module = 'R/3.2.3-foss-2016a:Python/2.7.11-intel-2016a'
}
  $R_coverageplots{
    module = 'R/3.2.3-foss-2016a'
    memory = '20 GB'
}
}
  





